@model IEnumerable<BOL.Election>
@{
    ViewBag.Title = "AllElection";
    int count = 1;
}



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">All Election</h1>
</div>
@{ 
    if(TempData["Msg"]!=null)
    {
    <div class="alert alert-danger" role="alert">
        @TempData["Msg"].ToString()
    </div>
    }
}


<div class="table-responsive" style="margin-bottom:100px;">
    <table class=" table-sm table table-hover table-bordered" id="tblResult">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Candidates</th>
                <td>Voters</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var election in Model)
            {

                <tr>
                    <td>@count</td>
                    <td>@election.electionName</td>
                    <td>@election.startDate</td>
                    <td>@election.endDate</td>
                    <td>@election.Description</td>
                    <td>
                        @{
                            count = count + 1;
                            foreach (var user in election.CandidateElections)
                            {
                                string firstname = user.User.firstName;
                                string lastname = user.User.lastName;
                                string fullname = String.Concat(firstname, " ", lastname);
                                <span>@fullname</span>
                                <br />
                            }
                        }

                    </td>
                    <td>
                        @{

                            foreach (var user in election.CapableVoters)
                            {
                                string firstname = user.User.firstName;
                                string lastname = user.User.lastName;
                                string fullname = String.Concat(firstname, " ", lastname);
                                <span>@fullname</span>
                                <br />
                            }
                        }
                    </td>
                    <td>
                        <a href="/Election/EditElection/?Id=@election.electionId"  class="alert-link">Edit</a>
                        <a href="/Election/DeleteElection/?Id=@election.electionId" data-toggle="modal" onclick="deleteDialog(@election.electionId);" class="alert-link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->

@*<a href="/Election/Delete/?Id=@" data-toggle="modal" data-target="#exampleModalCenter" class="alert-link">Delete it</a>*@

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                Are you sure, you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="return Delete();">Delete</button>
            </div>
        </div>
    </div>
</div>
<input type="text" id="hiddenDeleteId" style="display:none;"/>

<script type="text/javascript">
    function deleteDialog(Id) {
       
        $("#hiddenDeleteId").val(Id);
        $('#exampleModalCenter').modal('show');
    }

    function Delete() {
        var Id = $("#hiddenDeleteId").val();
        window.location.href = "/Election/DeleteElection/?Id=" + Id;
        return true;
        
        //$.ajax({
        //    type: "POST",
        //    url: '/Election/DeleteElection/',
        //    dataType: "json",
        //    data: { Id: $("#hiddenDeleteId").val() },
        //    success: function (result) {
        //        toastr.success('Delete', result);
        //        window.location.href="/Election/AllElection/"
        //    },
        //    error: function (result) {
        //        console.log(result);
        //        toastr.info(result);
        //    }
        //});
    }
</script>